<hr/>
<a style="margin-left: 45%; font-size: 25px;">Продукти</a>

<a data-toggle="modal"
   data-target="#submit_request"
   id="myModalShow"
   class="btn btn-success btn-sm pull-right"
   style="width: 200px">
    <span>Добавити товар</span>
</a>

<hr/>

<table style="width: 100%">
    <thead>
    <tr style="border:1px solid rgba(1, 104, 21, 0.6); color:maroon" class="text-center">
        <th class="col-md-1">ІД</th>
        <th class="col-md-5">Назва</th>
        <th class="col-md-1">Ціна</th>
        <th class="col-md-1">Мін. кількість</th>
        <th class="col-md-1">Макс. кількість</th>
        <th class="col-md-1">Тип</th>
        <th class="col-md-2"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="groc in $ctrl.data.groceries"
        style="border: 1px solid rgba(1, 104, 21, 0.6); color: white">
        <td>{{groc.id}}</td>
        <td>{{groc.name}}</td>
        <td>{{groc.price}}</td>
        <td>{{groc.min_quantity}}</td>
        <td>{{groc.max_quantity}}</td>
        <td>{{groc.type}}</td>
        <td><input type="button" ng-click="$ctrl.main.editModal(groc.id,
                                                            groc.name,
                                                            groc.price,
                                                            groc.vendor,
                                                            groc.min_quantity,
                                                            groc.max_quantity,
                                                            groc.description,
                                                            groc.type)"
                   value="Редагувати"
                   data-toggle="modal"
                   data-target="#edit_request"
                   id="myEditModalGroceryShow"/>
            <input type="button" ng-click="$ctrl.main.delete(groc.id)" value="Видалити" />
        </td>
    </tr>
    </tbody>
</table>