<div class="productsNav">
    <a ui-sref="admin.wines" ui-sref-active="current-page-item"
       class="col-md-6 col-sm-6">Вина</a>
    <a ui-sref="admin.grocery" ui-sref-active="current-page-item"
       class="col-md-6 col-sm-6">Продукты</a>
</div>

<ui-view><h1 style="font-size: 200px; color: maroon">ADMIN PANEL</h1></ui-view>

<!--MODAL WINDOW OPENED WITH BUTTON "Add"-->
<div class="modal fade" id="submit_request" role="dialog">
    <div class="modal-dialog">
        <!----------------- MODAL WINDOW CONTENT---------------->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Добавити товар
                </h4>
            </div>
            <div class="modal-body">

                <form name="requestTraining" id="saveForm">

                    <div class="form-group">

                        Зображення:
                        <input type="file" ngf-select ng-model="$ctrl.file" name="file"
                               accept="image/*" ngf-max-size="20MB" required
                               ngf-model-invalid="errorFile">
                        <img id="imgSaveForm" ng-show="requestTraining.file.$valid" ngf-thumbnail="$ctrl.file" class="thumb">
                        <div ng-show="requestTraining.file.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.file.$error.required">
                            Будь ласка виберіть зображення
                        </span>
                        </div><br>

                    </div><br/>

                    <div class="form-group">
                        <label for="select_name">
                            Назва товару
                        </label>
                        <input type="text" name="select_name"
                               ng-model="$ctrl.select_name"
                               id="select_name"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="requestTraining.select_name.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.select_name.$error.required">
                            Будь ласка введіть назву товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="select_price">
                            Ціна товару
                        </label>
                        <input type="text" name="select_price"
                               ng-model="$ctrl.select_price"
                               id="select_price"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="requestTraining.select_price.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.select_price.$error.required">
                            Будь ласка введіть ціну товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="select_min_quantity">
                            Мінімальна кількість замовлення товару
                        </label>
                        <input type="text" name="select_min_quantity"
                               ng-model="$ctrl.select_min_quantity"
                               id="select_min_quantity"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="requestTraining.select_min_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.select_min_quantity.$error.required">
                            Будь ласка введіть мінімальну кількість замовлення товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="select_max_quantity">
                            Максимальна кількість замовлення товару
                        </label>
                        <input type="text" name="select_max_quantity"
                               ng-model="$ctrl.select_max_quantity"
                               id="select_max_quantity"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="requestTraining.select_max_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.select_max_quantity.$error.required">
                            Будь ласка введіть максимальну кількість замовлення товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="select_type">
                            Тип товару
                        </label>
                        <select type="select" name="select_type"
                                ng-model="$ctrl.select_type"
                                id="select_type"
                                class="form-control"
                                ng-options="type for type in $ctrl.types"
                                required>
                        </select>
                    </div>

                    <div ng-show="requestTraining.select_type.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.select_type.$error.required">
                            Будь ласка оберіть тип товару
                        </span>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        data-dismiss="modal"
                        ng-click="$ctrl.cancelModal()">
                    Cancel
                </button>
                <input  type="submit"
                        class="btn btn-primary btn-sm"
                        value="Submit"
                        data-dismiss="modal"
                        ng-disabled="requestTraining.$invalid"
                        ng-click="$ctrl.save($ctrl.file)">
            </div>

        </div>
    </div>
</div><!--END OF THE MODAL WINDOW OPENED WITH BUTTON "JOIN"-->

<!--MODAL WINDOW OPENED WITH BUTTON "Edit"-->
<div class="modal fade" id="edit_request" role="dialog">
    <div class="modal-dialog">
        <!----------------- MODAL WINDOW CONTENT---------------->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Обновити товар
                </h4>
            </div>
            <div class="modal-body">

                <form name="editProduct">

                    <div class="form-group">

                        Зображення:
                        <input type="file" ngf-select ng-model="$ctrl.file" name="file"
                               accept="image/*" ngf-max-size="20MB" required
                               ngf-model-invalid="errorFile">
                        <img ng-show="editProduct.file.$valid" ngf-thumbnail="$ctrl.file" class="thumb">
                        <div ng-show="editProduct.file.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.file.$error.required">
                            Будь ласка виберіть зображення
                        </span>
                        </div><br>

                    </div><br/>

                    <div class="form-group">
                        <label for="edit_name">
                            Назва товару
                        </label>
                        <input type="text" name="edit_name"
                               ng-model="$ctrl.edit_name"
                               id="edit_name"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="editProduct.edit_name.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_name.$error.required">
                            Будь ласка введіть назву товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="edit_price">
                            Ціна товару
                        </label>
                        <input type="text" name="edit_price"
                               ng-model="$ctrl.edit_price"
                               id="edit_price"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="editProduct.edit_price.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_price.$error.required">
                            Будь ласка введіть ціну товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="edit_min_quantity">
                            Мінімальна кількість замовлення товару
                        </label>
                        <input type="text" name="edit_min_quantity"
                               ng-model="$ctrl.edit_min_quantity"
                               id="edit_min_quantity"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="editProduct.edit_min_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_min_quantity.$error.required">
                            Будь ласка введіть мінімальну кількість замовлення товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="edit_max_quantity">
                            Максимальна кількість замовлення товару
                        </label>
                        <input type="text" name="edit_max_quantity"
                               ng-model="$ctrl.edit_max_quantity"
                               id="edit_max_quantity"
                               class="form-control"
                               required />
                    </div>

                    <div ng-show="editProduct.edit_max_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_max_quantity.$error.required">
                            Будь ласка введіть максимальну кількість замовлення товару
                        </span>
                    </div><br>

                    <div class="form-group">
                        <label for="edit_type">
                            Тип товару
                        </label>
                        <select type="select" name="edit_type"
                                ng-model="$ctrl.edit_type"
                                id="edit_type"
                                class="form-control"
                                ng-options="type for type in $ctrl.types"
                                required>
                        </select>
                    </div>

                    <div ng-show="requestTraining.edit_type.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="requestTraining.edit_type.$error.required">
                            Будь ласка оберіть тип товару
                        </span>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        data-dismiss="modal"
                        ng-click="$ctrl.cancelModal()">
                    Cancel
                </button>
                <input  type="submit"
                        class="btn btn-primary btn-sm"
                        value="Submit"
                        data-dismiss="modal"
                        ng-disabled="editProduct.$invalid"
                        ng-click="$ctrl.update($ctrl.file)">
            </div>

        </div>
    </div>
</div><!--END OF THE MODAL WINDOW OPENED WITH BUTTON "JOIN"-->