<div class="productsNav">
    <a ui-sref="admin.wines" ui-sref-active="current-page-item"
       class="col-md-6 col-sm-6">Вина</a>
    <a ui-sref="admin.grocery" ui-sref-active="current-page-item"
       class="col-md-6 col-sm-6">Продукты</a>
</div>

<ui-view><h1 style="font-size: 200px; color: maroon">ADMIN PANEL</h1></ui-view>

<!--MODAL WINDOW OPENED WITH BUTTON "Add"-->
<div class="modal fade" id="submit_request" role="dialog">
    <div class="modal-dialog">
        <!----------------- MODAL WINDOW CONTENT---------------->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Добавити товар
                </h4>
            </div>
            <div class="modal-body">

                <form name="createProduct">

                    <div class="form-group">

                        Зображення:
                        <input type="file" ngf-select ng-model="$ctrl.file" name="file"
                               accept="image/*" ngf-max-size="20MB" required
                               ngf-model-invalid="errorFile">
                        <img ng-show="createProduct.file.$valid" ngf-thumbnail="$ctrl.file" class="thumb">
                        <div ng-show="createProduct.file.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.file.$error.required">
                            Будь ласка виберіть зображення
                        </span>
                        </div><br>

                    </div><br/>

                    <div class="form-group">
                        <label for="create_name">
                            Назва товару
                        </label>
                        <input type="text" name="create_name"
                               ng-model="$ctrl.create_name"
                               id="create_name"
                               class="form-control input-sm"
                               required />
                    </div>

                    <div ng-show="createProduct.create_name.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_name.$error.required">
                            Будь ласка введіть назву товару
                        </span>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="create_price">
                                Ціна товару
                            </label>
                            <input type="text" name="create_price"
                                   ng-model="$ctrl.create_price"
                                   id="create_price"
                                   class="form-control input-sm"
                                   required />
                            <div ng-show="createProduct.create_price.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_price.$error.required">
                                Будь ласка введіть ціну товару
                        </span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="create_vendor">
                                Актикул
                            </label>
                            <input type="text" name="create_vendor"
                                   ng-model="$ctrl.create_vendor"
                                   id="create_vendor"
                                   class="form-control input-sm"
                                   required />
                            <div ng-show="createProduct.create_vendor.$touched">
                                <div class="alert-request-error alert-info"
                                     ng-show="createProduct.create_vendor.$error.required">
                                    Будь ласка введіть артикул
                                </div>
                            </div>
                        </div>
                    </div><br/>

                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="create_min_quantity">
                                Мін кількість замовлення товару
                            </label>
                            <input type="text" name="create_min_quantity"
                                   ng-model="$ctrl.create_min_quantity"
                                   id="create_min_quantity"
                                   class="form-control input-sm"
                                   required />
                            <div ng-show="createProduct.create_min_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_min_quantity.$error.required">
                            Будь ласка введіть мінімальну кількість замовлення товару
                        </span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="create_max_quantity">
                                Макс кількість замовлення товару
                            </label>
                            <input type="text" name="create_max_quantity"
                                   ng-model="$ctrl.create_max_quantity"
                                   id="create_max_quantity"
                                   class="form-control input-sm"
                                   required />
                            <div ng-show="createProduct.create_max_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_max_quantity.$error.required">
                            Будь ласка введіть максимальну кількість замовлення товару
                        </span>
                            </div>
                        </div>
                    </div><br>

                    <div class="form-group col-md-12">
                        <label for="create_description">
                            Опис товару
                        </label>
                        <textarea name="create_description"
                                  ng-model="$ctrl.create_description"
                                  id="create_description"
                                  class="form-control input-sm"
                                  required></textarea>
                        <div ng-show="createProduct.create_description.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_description.$error.required">
                            Будь ласка введіть опис товару
                        </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="create_type">
                            Тип товару
                        </label>
                        <select name="create_type"
                                ng-model="$ctrl.create_type"
                                id="create_type"
                                class="form-control input-sm"
                                ng-options="type for type in $ctrl.types"
                                required>
                        </select>
                    </div>

                    <div ng-show="createProduct.create_type.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="createProduct.create_type.$error.required">
                            Будь ласка оберіть тип товару
                        </span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        data-dismiss="modal"
                        ng-click="$ctrl.cancelModal()">
                    Cancel
                </button>
                <input  type="submit"
                        class="btn btn-primary btn-sm"
                        value="Submit"
                        data-dismiss="modal"
                        ng-disabled="createProduct.$invalid"
                        ng-click="$ctrl.save($ctrl.file)">
            </div>

        </div>
    </div>
</div><!--END OF THE MODAL WINDOW OPENED WITH BUTTON "JOIN"-->

<!--MODAL WINDOW OPENED WITH BUTTON "Edit"-->
<div class="modal fade" id="edit_request" role="dialog">
    <div class="modal-dialog">
        <!----------------- MODAL WINDOW CONTENT---------------->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Обновити товар
                </h4>
            </div>
            <div class="modal-body">

                <form name="editProduct">

                    <div class="form-group">

                        Зображення:
                        <input type="file" ngf-select ng-model="$ctrl.file" name="file"
                               accept="image/*" ngf-max-size="20MB" required
                               ngf-model-invalid="errorFile">
                        <img ng-show="editProduct.file.$valid" ngf-thumbnail="$ctrl.file" class="thumb">
                        <div ng-show="editProduct.file.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.file.$error.required">
                            Будь ласка виберіть зображення
                        </span>
                        </div><br>

                    </div><br/>

                    <div class="form-group">
                        <label for="edit_name">
                            Назва товару
                        </label>
                        <input type="text" name="edit_name"
                               ng-model="$ctrl.edit_name"
                               id="edit_name"
                               class="form-control input-sm"
                               required />
                    </div>

                    <div ng-show="editProduct.edit_name.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_name.$error.required">
                            Будь ласка введіть назву товару
                        </span>
                    </div>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="edit_price">
                            Ціна товару
                        </label>
                        <input type="text" name="edit_price"
                               ng-model="$ctrl.edit_price"
                               id="edit_price"
                               class="form-control input-sm"
                               required />
                        <div ng-show="editProduct.edit_price.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_price.$error.required">
                                Будь ласка введіть ціну товару
                        </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="edit_vendor">
                            Актикул
                        </label>
                        <input type="text" name="edit_vendor"
                               ng-model="$ctrl.edit_vendor"
                               id="edit_vendor"
                               class="form-control input-sm"
                               required />
                        <div ng-show="editProduct.edit_vendor.$touched">
                            <div class="alert-request-error alert-info"
                                ng-show="editProduct.edit_vendor.$error.required">
                                Будь ласка введіть артикул
                            </div>
                        </div>
                    </div>
                </div><br/>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="edit_min_quantity">
                            Мін кількість замовлення товару
                        </label>
                        <input type="text" name="edit_min_quantity"
                               ng-model="$ctrl.edit_min_quantity"
                               id="edit_min_quantity"
                               class="form-control input-sm"
                               required />
                        <div ng-show="editProduct.edit_min_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_min_quantity.$error.required">
                            Будь ласка введіть мінімальну кількість замовлення товару
                        </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="edit_max_quantity">
                            Макс кількість замовлення товару
                        </label>
                        <input type="text" name="edit_max_quantity"
                               ng-model="$ctrl.edit_max_quantity"
                               id="edit_max_quantity"
                               class="form-control input-sm"
                               required />
                        <div ng-show="editProduct.edit_max_quantity.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_max_quantity.$error.required">
                            Будь ласка введіть максимальну кількість замовлення товару
                        </span>
                        </div>
                    </div>
                </div><br>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="edit_description">
                            Опис товару
                        </label>
                        <textarea name="edit_description"
                               ng-model="$ctrl.edit_description"
                               id="edit_description"
                               class="form-control input-sm"
                                  required></textarea>
                        <div ng-show="editProduct.edit_description.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_description.$error.required">
                            Будь ласка введіть опис товару
                        </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="edit_type">
                            Тип товару
                        </label>
                        <select name="edit_type"
                                ng-model="$ctrl.edit_type"
                                id="edit_type"
                                class="form-control input-sm"
                                ng-options="type for type in $ctrl.types"
                                required>
                        </select>
                    </div>

                    <div ng-show="editProduct.edit_type.$touched">
                        <span class="alert-request-error alert-info"
                              ng-show="editProduct.edit_type.$error.required">
                            Будь ласка оберіть тип товару
                        </span>
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="form-group col-md-6">
                        <label for="edit_discount_quantity">
                            Знижки
                        </label>

                        <div ng-repeat="dep in $ctrl.edit_discount">
                            <input type="text"
                                   name="edit_discount_quantity"
                                   ng-model="$ctrl.discount[dep.id].quantity"
                                   id="edit_discount_quantity"
                                   class="form-control input-sm"
                                   />
                        </div>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="edit_discount_price">
                            Знижки
                        </label>

                        <div ng-repeat="dep in $ctrl.edit_discount">
                            <input type="text"
                                   name="edit_discount_price"
                                   ng-model="$ctrl.discount[dep.id].price"
                                   id="edit_discount_price"
                                   class="form-control input-sm"
                            />
                        </div>
                    </div>
                </div><br/>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-info btn-sm"
                        data-dismiss="modal"
                        ng-click="$ctrl.cancelModal()">
                    Cancel
                </button>
                <input  type="submit"
                        class="btn btn-primary btn-sm"
                        value="Submit"
                        data-dismiss="modal"
                        ng-disabled="editProduct.$invalid"
                        ng-click="$ctrl.update($ctrl.file)">
            </div>

        </div>
    </div>
</div><!--END OF THE MODAL WINDOW OPENED WITH BUTTON "JOIN"-->