<div class="row">
    <div class="col-md-12">

        <div class="contact" style="padding-left: 300px; padding-right: 300px; padding-top: 150px;">
        <section class="text-center" style="background-color: black; padding: 10px;">
            <h1>Контакти</h1>
            <ul>
            <li>Пн-Сб: 10<sup>00</sup>-18<sup>00</sup></li>
            <li>Вихідний: Неділя</li>
            <li>(093) 11-11-111</li>
            <li>(098) 11-11-111</li>
            <li>(099) 11-11-111</li>
            <li>wines@my-site.com.ua</li>
            </ul>
        </section>
        </div>

    </div>
</div>