<!--<div id="banner">-->
    <!--<h2><span>наша компанія</span></h2>-->
    <!--<h3><span>ми піклуємось про ваше здоров'я ...</span></h3>-->
<!--</div>-->

<div class="wrapSlider row" style="border: 1px solid #fff; margin-bottom: 10px;">
    <div class="your-class">
        <div style="background: url(/images/alcohol.jpg) no-repeat; height: 200px; background-size: 100% 300px;">
            <h2 style="padding: 7% 0 0 30%;
                font-size: 3.3em;
                color: #fff;
                text-align: center;">
                <span style="background-color: black;
                            border-radius: 10px;">
                    наша компанія</span></h2>
            <h3 style="padding-left: 20%;
                        font-size: 1.6em;
                        color: #fff;
                        text-align: center;
                        text-transform: lowercase;">
                <span style="background-color: black;
                            border-radius: 10px;">
                ми піклуємось про ваше здоров'я ...</span></h3>
        </div>
        <div ng-repeat="x in [1,2,3,4,5,6]"><h3 style="background: url(/images/background/{{x}}.jpg) no-repeat;
        color: #3498db;
        font-size: 36px;
        height: 200px;
        padding: 2%;
        position: relative;
        text-align: center;
        background-size: 100% 300px;"></h3></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <section>
            <h2>Лідерство Wines,
                компанія світового класу</h2>
            <p>З маленької торгівельної компанії Wines перетворилася на корпорацію світового класу,
                бізнес якої охоплює прогресивні технології, виробництво напівпровідників,
                будівництво хмарочосів і заводів, нафтохімію, моду, медицину, фінанси,
                готельну справу та багато іншого. Наші відкриття, винаходи та інноваційні
                продукти дали нам змогу стати лідером цих індустрій, постійно розвиваючи їх.</p>
            <ul>
                <li>
                    <a href="#"><img src="/images/background/1.jpg" alt="" class="left" /></a>
                    <h3>Wines у нашому житті,
                        поліпшення повсякденних умов</h3>
                    <p>Wines незмінно ділиться з людьми по всьому світу своїм перетворюючим досвідом,
                        від інновацій в області споживчої електроніки до біофармацевтичних розробок.
                        Прихильні ідеї створення чудових продуктів і послуг у всіх областях бізнесу,
                        ми прагнемо поліпшити життя людей і привнести позитивні зміни в оточуючий світ.</p>
                </li>
                <li>
                    <a href="#"><img src="/images/background/2.jpg" alt="" class="left" /></a>
                    <h3>Внесок Wines,
                        незмінна соціальна відповідальність</h3>
                    <p>Ми вимірюємо свої успіхи не лише досягненнями в бізнесі, а й тим,
                        наскільки успішно ми служимо суспільству, піклуємося про збереження
                        ресурсів планети та привносимо зміни в людські життя. Ми відчуваємо
                        відповідальність за те, щоб створити позитивний корпоративний імідж й
                        усюди в світі діяти на благо суспільного прогресу, оберігати та
                        покращувати довкілля, а також зміцнювати соціальні стандарти.</p>
                    <h3>Взаємне сприяння</h3>
                    <p>Бізнес не буває успішним, якщо не веде до процвітання і відкриття можливостей для інших.
                        Компанія Wines прагне бути соціально та екологічно відповідальним корпоративним
                        громадянином у кожній спільноті, де ми ведемо свою діяльність, на всій земній кулі.</p>
                </li>
            </ul>
        </section>

    </div>
    <div class="col-md-6">
        <article>
            <h2>Новий дизайн</h2>
            <a href="#"><img src="/images/background/6.jpg" alt="" class="top" /></a>
            <a href="#"><img src="/images/background/5.jpg" alt="" class="left" /></a>
            <h3>Wines створює можливості,
                корпорація відкриттів</h3>
            <p>Наша мета проста: це надання вам свободи подорожувати, відкривати для себе
                новий досвід; піклуватися про наш світ. Це надання можливості пов'язати те,
                ким ви є сьогодні, з тим, ким ви хочете стати завтра. У світі, що змінюється,
                люди змінюються швидше. Ми незмінно прагнемо відкриттів та новаторства,
                створення технологій і надання послуг, які роблять нас сильнішими та
                відкривають двері у світ можливого.</p>
        </article>

    </div>
</div>