<div class="col-md-3 col-sm-3 productsNavComponent text-center center-block">
    <div class="navBlock">
        <span class="col-md-12 winesNavHeader">Продукты</span>
        <a ui-sref="products.grocery.cheese" ui-sref-active="current-page-item">Сыры</a>
        <a ui-sref="products.grocery.macaroni" ui-sref-active="current-page-item">Макароны</a>
        <a ui-sref="products.grocery.coffee" ui-sref-active="current-page-item">Кофе</a>
        <a ui-sref="products.grocery.olive_oil" ui-sref-active="current-page-item">Оливковое масло</a>
        <a ui-sref="products.grocery.caviar" ui-sref-active="current-page-item">Икра</a>
    </div>

    <div class="navBlock">
        <span class="col-md-12 winesNavHeader">Поиск</span>
        <input type="text" id="searchField" name="search">
        <br><br>
        <input type="submit" class="btn" id="searchButton" value="Поиск">
    </div>

    <div class="navBlock">
        <span class="col-md-12 winesNavHeader">Фильтры</span>
        <h4>Фильтровать по цене:</h4>
        <slider-easy value="val" option="option"></slider-easy>
        <span>{{ val }}</span>
    </div>

</div>

<ui-view>
    <div class="col-md-9 col-sm-9 productsComponent">
        <div class="products col-md-3 col-sm-3" ng-repeat="groc in $ctrl.main.groceries">
            <img ng-src="{{$ctrl.main.path + 'get_image/' + groc.id}}" alt="" class="center-block"
                 ui-sref="products.detailed({id: groc.id})"/>

            <div class="productsDescription" ui-sref="products.detailed({id: groc.id})">
                <h4>{{groc.name}}</h4>
                <span>Код товара: U22794</span>
                <p>{{groc.price | currency: '₴ '}} грн.</p>
            </div>

            <div class="productsAddToCartSection">
                <ngcart-addtocart id="{{ groc.id }}"
                                  name="{{ groc.name }}"
                                  price="{{ groc.price }}"
                                  quantity="{{ groc.min_quantity }}"
                                  quantity-min="{{ groc.min_quantity }}"
                                  quantity-max="{{ groc.max_quantity }}">
                    Add to Cart
                </ngcart-addtocart>
            </div>
        </div>
    </div>
</ui-view>