<div class="text-center">Кофе</div>
<div class="col-md-9 col-sm-9 productsComponent">
    <div class="products col-md-3 col-sm-3" ng-repeat="coff in $ctrl.main.grocery | filter: {type: 'coffee'}">
        <img src="images/pic2.jpg" alt="" class="center-block"/>

        <div id="productsDescription">
            <h4>{{coff.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{coff.price | currency: '₴ '}} грн.</p>
        </div>

        <div id="productsAddToCartSection">
            <ngcart-addtocart id="{{ coff.id }}"
                              name="{{ coff.name }}"
                              price="{{ coff.price }}"
                              quantity="{{ coff.min_quantity }}"
                              quantity-min="{{ coff.min_quantity }}"
                              quantity-max="{{ coff.max_quantity }}">
                Add to Cart
            </ngcart-addtocart>
        </div>
    </div>
</div>