<div class="col-md-3 col-sm-3 productsNavComponent text-center center-block">
    <div class="navBlock">
        <span class="col-md-12 winesNavBackButton" ui-sref="products.grocery">
            <span class="glyphicon glyphicon-chevron-left">
                </span> Назад</span>
        <div class="navBlock">
            <span class="col-md-12 winesNavHeader">Продукты</span>
            <a ui-sref="products.grocery.cheese" ui-sref-active="current-page-item">Сыры</a>
            <a ui-sref="products.grocery.macaroni" ui-sref-active="current-page-item">Макароны</a>
            <a ui-sref="products.grocery.coffee" ui-sref-active="current-page-item">Кофе</a>
            <a ui-sref="products.grocery.olive_oil" ui-sref-active="current-page-item">Оливковое масло</a>
            <a ui-sref="products.grocery.caviar" ui-sref-active="current-page-item">Икра</a>
        </div>
        <span class="col-md-12 winesNavHeader">Поиск</span>
        <input type="text" id="searchField" name="search" ng-model="$ctrl.query"/>
        <br><br>
    </div>
</div>

<div class="col-md-9 col-sm-9 text-center">
    <div class="products col-md-3 col-sm-3"
         ng-repeat="che in $ctrl.main.groceries | filter: {type: 'cheese'} | filter:$ctrl.query">
        <img ng-src="{{$ctrl.main.path + 'get_image/' + che.id}}" alt="" class="center-block"
             ui-sref="products.detailed({id: che.id, quan: che.min_quantity})"/>

        <div class="productsDescription" ui-sref="products.detailed({id: che.id, quan: che.min_quantity})">
            <h4>{{che.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{che.price | currency: '₴ '}} грн.</p>
        </div>

        <div class="productsAddToCartSection">
            <ngcart-addtocart id="{{ che.id }}"
                              name="{{ che.name }}"
                              price="{{ che.price }}"
                              quantity="{{ che.min_quantity }}"
                              quantity-min="{{ che.min_quantity }}"
                              quantity-max="{{ che.max_quantity }}"
                              discount="{{ che.price_dependencies }}">
                Add to Cart
            </ngcart-addtocart>
        </div>
    </div>
</div>