<div class="col-md-3 col-sm-3 productsNavComponent text-center center-block">
    <div class="navBlock">
    <span class="col-md-12 winesNavHeader">Вина</span>
        <a>Игристые</a>
        <a>Сухие</a>
        <a>Полусладкие</a>
    </div>

    <div class="navBlock">
    <span class="col-md-12 winesNavHeader">Поиск</span>
        <input type="text" name="search">
        <br><br>
        <input type="submit" class="btn" value="Поиск">
    </div>

    <div class="navBlock">
    <span class="col-md-12 winesNavHeader">Фильтры</span>
        <h4>Фильтровать по цене:</h4>
        <input title="min-price" type="number" min="0" value="0">
    </div>

</div>
<div class="col-md-9 col-sm-9 productsComponent">
        <div class="products col-md-3 col-sm-3" ng-repeat="product in $ctrl.products">
            <img src="images/pic2.jpg" alt="" class="center-block"/>

            <div id="productsDescription">
            <h4>{{product.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{product.price | currency: '₴ '}} грн.</p>
            </div>

            <div id="productsAddToCartSection">
                <ngcart-addtocart id="{{ product.id }}"
                                  name="{{ product.name }}"
                                  price="{{ product.price }}"
                                  quantity="{{ product.min_quantity }}"
                                  quantity-min="{{ product.min_quantity }}"
                                  quantity-max="{{ product.max_quantity }}">
                    Add to Cart
                </ngcart-addtocart>
            </div>
        </div>
</div>