<div class="text-center">Макароны</div>
<div class="col-md-9 col-sm-9 productsComponent">
    <div class="products col-md-3 col-sm-3" ng-repeat="mac in $ctrl.main.groceries | filter: {type: 'macaroni'}">
        <img ng-src="{{$ctrl.main.path + 'get_image/' + mac.id}}" alt="" class="center-block"
             ui-sref="products.detailed({id: mac.id})"/>

        <div class="productsDescription" ui-sref="products.detailed({id: mac.id})">
            <h4>{{mac.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{mac.price | currency: '₴ '}} грн.</p>
        </div>

        <div class="productsAddToCartSection">
            <ngcart-addtocart id="{{ mac.id }}"
                              name="{{ mac.name }}"
                              price="{{ mac.price }}"
                              quantity="{{ mac.min_quantity }}"
                              quantity-min="{{ mac.min_quantity }}"
                              quantity-max="{{ mac.max_quantity }}">
                Add to Cart
            </ngcart-addtocart>
        </div>
    </div>
</div>