<div class="row main-row">
    <div class="col-md-3 col-sm-3">
        <div class="col-md-12">
            <input type="text" id="searchField" name="search">
            <br><br>
            <input type="submit" class="btn-success" id="searchButton" value="Пошук">
        </div>

        <!--<div class="col-md-12">-->
        <!--<h4>Фільтрувати за ціною:</h4>-->
        <!--<table class="moneyFilter">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td><input title="min-price" type="number" min="0" value="0"></td>-->
        <!--<td>-</td>-->
        <!--<td><input title="max-price" type="number" min="0" value="500"></td>-->
        <!--<td>грн.</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->

    </div>
    <div class="col-md-9 col-sm-9">
        <h2>Sweets page</h2>
    </div>
</div>