<div class="text-center">Икра</div>
<div class="col-md-9 col-sm-9 productsComponent">
    <div class="products col-md-3 col-sm-3" ng-repeat="caviar in $ctrl.main.groceries | filter: {type: 'caviar'}">
        <img ng-src="{{$ctrl.main.path + 'get_image/' + caviar.id}}" alt="" class="center-block"
             ui-sref="products.detailed({id: caviar.id})"/>

        <div class="productsDescription" ui-sref="products.detailed({id: caviar.id})">
            <h4>{{caviar.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{caviar.price | currency: '₴ '}} грн.</p>
        </div>

        <div class="productsAddToCartSection">
            <ngcart-addtocart id="{{ caviar.id }}"
                              name="{{ caviar.name }}"
                              price="{{ caviar.price }}"
                              quantity="{{ caviar.min_quantity }}"
                              quantity-min="{{ caviar.min_quantity }}"
                              quantity-max="{{ caviar.max_quantity }}">
                Add to Cart
            </ngcart-addtocart>
        </div>
    </div>
</div>