<div class="text-center">Игристые вина</div>
<div class="col-md-9 col-sm-9 productsComponent">
    <div class="products col-md-3 col-sm-3" ng-repeat="wine in $ctrl.main.wines | filter: {type: 'sparkling'}">
        <img src="images/pic2.jpg" alt="" class="center-block"/>

        <div id="productsDescription">
            <h4>{{wine.name}}</h4>
            <span>Код товара: U22794</span>
            <p>{{wine.price | currency: '₴ '}} грн.</p>
        </div>

        <div id="productsAddToCartSection">
            <ngcart-addtocart id="{{ wine.id }}"
                              name="{{ wine.name }}"
                              price="{{ wine.price }}"
                              quantity="{{ wine.min_quantity }}"
                              quantity-min="{{ wine.min_quantity }}"
                              quantity-max="{{ wine.max_quantity }}">
                Add to Cart
            </ngcart-addtocart>
        </div>
    </div>
</div>