/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    min-width: 100%;
    background: rgba(40,40,40,0.8) url('/images/background/3.jpg') no-repeat fixed;
    background-size: cover;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    overflow-y: scroll;
}

h1, h2, h3, h4 {
    color: maroon;
    font-weight: normal;
    text-transform: lowercase;
}

img.left {
    float: left;
    padding: 0 5px 5px 2px;
}

img.top {
    width: 100%;
    margin: 4px 0 4px 0;
}

a {
    color: maroon;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

a:hover {
	color: #fff;
    text-decoration: none;
}

.disabled {
    visibility: hidden;
}

svg {
    fill: #fff;
}

input[type=text], input[type=number] {
    background-color: transparent;
    border: 1px solid rgba(1, 104, 21, 0.6);
    color: #fff;
    text-align: center;
}

input[type=submit], input[type=button] {
    background-color: rgba(1, 104, 21, 0.6);
    color: #fff;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(1, 204, 21, 0.6);
    color: #fff;
}

input:hover, input:active, input:focus {
    outline: none;
}

.modal-open {
    overflow-y: visible;
    padding-right: 0 !important;
}

/* Header */

header {
    height: 60px;
    background-color: black;
}

#header {
    padding-top: 0;
}

#header .col-md-12 {
    padding: 0;
}

header .col-md-2, header .col-md-8 {
    padding: 0;
}

#logo {
    height: 100%;
    position: relative;
    background: linear-gradient(to right, transparent, transparent, transparent, black), url(/images/flagEdit3.png) no-repeat 50%;
    opacity: 0.4;
}

nav {
    height: 100%;
    background-color: black;
}

nav a {
    height: 100%;
    color: #fff;
    padding-top: 20px !important;
    text-transform: lowercase;
    font-size: large;
    font-weight: 100;
}

nav a:hover, nav a:active, nav a:focus, nav a:visited {
    background: linear-gradient(to right, black, rgba(230, 0, 0, 0.3), rgba(230, 0, 0, 0.3), black);
    color: #fff;
    text-decoration: none;
}

.current-page-item {
    background: linear-gradient(to right, black, rgba(230, 0, 0, 0.3), rgba(230, 0, 0, 0.3), black);
    color: #fff;
}

#basketFull {
    background: rgba(1, 104, 21, 0.6);
    height: 100%;
    padding-top: 15px;
    cursor: pointer;
}

#basketEmpty {
    background-color: rgba(1, 104, 21, 0.6);
    height: 100%;
    cursor: pointer;
}

#summaryList {
    margin-top: -8px;
}

#summaryList li {
    font-size: 100%;
    color: #fff;
}

/* Banner */
#banner {
    position: relative;
    height: 265px;
    box-shadow: inset 0 0 0 1px #fff, 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    margin: 0 -15px 10px -15px;
    background: url(/images/alcohol.jpg) no-repeat;
    /* opacity: 0.7; */
    background-size: 100% 300px;
}

#banner h2 {
    padding: 7% 0 0 30%;
    font-size: 3.3em;
    color: #fff;
    text-align: center;
}

#banner h2 span, #banner h3 span {
    background-color: black;
    border-radius: 10px;
}

#banner h3 {
    padding-left: 20%;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    text-transform: lowercase;
}

/* Main */
#main {
    min-height: 500px;
    background-color: rgba(15,15,15,0.9);
    padding-top: 5px;
    padding-bottom: 20px;
}

.productsNav {
    height: 25px;
    width: 100%;
    box-shadow: 0 0 4px;
    margin-bottom: 5px;
    background-color: black;
}

.productsNav a {
    text-transform: lowercase;
    font-size: medium;
    color: #fff;
    height: 25px;
    padding: 3px 0 2px 0;
}

.productsNav a:focus, .productsNav a:hover {
    background: linear-gradient(to right, black, rgba(230, 0, 0, 0.3), rgba(230, 0, 0, 0.3), black);
    text-decoration: none;
    color: #fff;
}

#productsPageWrapper {
    margin: 0 -15px 0 -15px;
    background-color: rgba(15,15,15,0.8);
}

.productsNavComponent {
    width: 19.8%;
    margin-right: 0.2%;
    padding: 0;

}

.productsNavComponent input {
    background-color: rgba(230,0,0,0.3);
    border: 1px solid rgba(230,0,0,0.3);
}

.productsNavComponent input:hover {
    background-color: rgba(290,0,0,0.3);
    border: 1px solid rgba(290,0,0,0.3);
}

.navBlock {
    margin-bottom: 10px;
}

.navBlock a {
    display: inline-block;
    width: 100%;
    color: #fff;
}

.navBlock a:hover, .navBlock a:focus {
    background: linear-gradient(to right, transparent, rgba(230, 0, 0, 0.3), rgba(230, 0, 0, 0.3), transparent);
    color: #fff;
}

.winesNavHeader {
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    background: linear-gradient(to right, transparent, black, transparent);
    text-transform: lowercase;
    color: #fff;
    font-size: medium;
}

.productsComponent {
    width: 80%;
    padding: 0;
    background-color: transparent;
}

.products {
    display: inline-table;
    height: 300px;
    width: 24.8%;
    margin: 0 0 2px 2px;
    background: linear-gradient(to right, transparent, black, black, black, black, black, black, transparent);
}

.products:hover {
    box-shadow: 0 0 25px #888;
}

.products img {
    height: 190px;
    padding-top: 5px;
}

#productsDescription {
    padding: 5px 0 0 10px;
    height: 90px;
}

#productsAddToCartSection {
    padding-top: 3px;
    height: 45px;
}

.products p {
    color: #fff;
    margin: 0;
}

.products h4 {
    color: #006600;
}

/* Modal */
#cartSetQuantity {
    width: 90px;
}

.modal-content {
    background-color: rgba(15,15,15,1) !important;
    color: #fff;
    border: #fff solid 1px;
}
.table-responsive {
    margin-top: 5px;
    color: #fff;
}
.table-responsive tr {
    background-color: transparent !important;
}

.modalCancel {
    background-color: #fff;
    border-color: #fff;
    color: #006600;
}

.modalBasket {
    background-color: #006600;
    border-color: #006600;
}

/* Footer */
#footerContainer {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: black;
}

#footerContainer h3 {
    font-size: large;
    color: rgba(1, 104, 21, 0.6);
    padding-bottom: 5px;
}

#footerContainer a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

#footerContainer a:hover {
    text-decoration: none;
    color: rgba(1, 104, 21, 0.6);
}

sup {
    font-size: 14px;
    top: -0.3em;
}

.socialSection {
    min-height: 100px;
}

.socialSection input[type=email] {
    background-color: transparent;
    color: #fff;
    border-color: rgba(1, 104, 21, 0.6);
    width: 50%;
}
.socialSection input[type=submit] {
    background-color: rgba(1, 104, 21, 0.6);
}

.social {
    display: block;
    text-align: center;
    margin-top: 5%;
}

.socialButtons {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 2px;
}
.socialButtons:hover {
    height: 44px;
    width: 44px;
    margin: 0;
}

#facebook {
    background: transparent url('/images/facebook_icon_black.png') no-repeat;
    background-size: 100%;
}
#facebook:hover {
    background: transparent url('/images/facebook_icon_black2.png') no-repeat;
    background-size: 100%;
}

#vk {
    background: transparent url('/images/vk_icon_black.png') no-repeat;
    background-size: 100%;
}
#vk:hover {
    background: transparent url('/images/vk_icon_black2.png') no-repeat;
    background-size: 100%;
}

#youtube {
    background: transparent url('/images/youtube_icon_black.png') no-repeat;
    background-size: 100%;
}
#youtube:hover {
    background: transparent url('/images/youtube_icon_black2.png') no-repeat;
    background-size: 100%;
}

#twitter {
    background: transparent url('/images/twitter_icon_black.png') no-repeat;
    background-size: 100%;
}
#twitter:hover {
    background: transparent url('/images/twitter_icon_black2.png') no-repeat;
    background-size: 100%;
}

#picasso {
    background: transparent url('/images/picasso_icon_black.png') no-repeat;
    background-size: 100%;
}
#picasso:hover {
    background: transparent url('/images/picasso_icon_black2.png') no-repeat;
    background-size: 100%;
}

#googlePlus {
    background: transparent url('/images/google_plus_icon_black.png') no-repeat;
    background-size: 100%;
}
#googlePlus:hover {
    background: transparent url('/images/google_plus_icon_black2.png') no-repeat;
    background-size: 100%;
}

/* Copyright */
#copyright {
    text-align: center;
    color: #A6A88F;
    border-top: solid 1px #ced0b7;
    padding: 2em 0 0 0;
    margin: 1% 0 0 0;
}

#copyright a {
    color: #A6A88F;
}