/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    font-size: 13.5pt;
    background-color: #e3e9dc;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #878e83;
    letter-spacing: -1px;
}

h1, h2, h3, h4 {
    color: maroon;
    font-weight: normal;
}

h1 {
    text-transform: lowercase;
}

h2 {
    text-transform: lowercase;
    font-size: 1.6em;
    letter-spacing: -1px;
    margin-bottom: 1em;
}

h3, h4 {
    color: maroon;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

h4 {
    font-size: 1em;
}

p, ul {
    margin-bottom: 1.25em;
}

p {
    line-height: 1.8em;
}

strong {
    color: #474e43;
}

img.left {
    float: left;
    margin: 2px 1.25em 0 0;
}

img.top {
    margin: 4px 0 2.25em 0;
}

ul {
    padding: 0.25em 0 0 0;
}

a {
    color: maroon;
    text-decoration: underline;
}

a:visited {
	color: #474e43;
}

a:hover {
    text-decoration: none;
	color: #fff;
}

* > p:last-child {
    margin-bottom: 0 !important;
}

/* Reusable */

article.blog-post {
    position: relative;
}

article.blog-post .comments {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    line-height: 24px;
    padding-left: 40px;
    background: url("/images/icon-bubble.png") no-repeat;
}

ul.small-image-list li {
    overflow: hidden;
    margin-bottom: 1.5em;
}

ul.big-image-list li {
    overflow: hidden;
    margin-bottom: 2em;
}

ul.link-list li {
    border-top: solid 1px #ced0b7;
    padding: 0.75em 0 0 0;
    margin: 0.75em 0 0 0;
}

ul.link-list li:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
}

.button {
    background-image: -moz-linear-gradient(to bottom, maroon, #0f0000);
    background-image: -webkit-linear-gradient(to bottom, maroon, #0f0000);
    background-image: -ms-linear-gradient(to bottom, maroon, #0f0000);
    background-image: linear-gradient(to bottom, maroon, #0f0000);
    background-color: #0f0000;
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: -1px;
    border: solid 1px #000;
    box-shadow: inset 0 0 0 1px #000;
}

.button:visited {
	color: #fff;
}

.button:hover {
    background-image: -moz-linear-gradient(to bottom, #960018, #0f0000);
    background-image: -webkit-linear-gradient(to bottom, #960018, #0f0000);
    background-image: -ms-linear-gradient(to bottom, #960018, #0f0000);
    background-image: linear-gradient(to bottom, #960018, #0f0000);
    background-color: #0f0000;
}

.button:focus {
    color: #fff;
    text-decoration: none;
}

.disabled {
	display: none;
}

/* Desktop + Tablet */
@media screen and (min-width: 737px) {

				/* Basic */
				body {
					min-width: 100%;
				}

				section, article {
					margin: 0 0 60px 0;
				}

				section:last-child, article:last-child {
					margin-bottom: 0;
				}

				section.left-content {
					padding-right: 30px;
				}

				section.right-content {
					padding-left: 30px;
				}

				section.middle-content {
					padding: 0 30px 0 30px;
				}

				ul.small-image-list img {
					width: 78px;
				}

				ul.big-image-list img {
					width: 178px;
				}

				/* Reusable */
				.blog-post-image {
					width: 100%;
				}

				/* Header */
				#header-wrapper {
					background-color: #0f0000;
				}

				#header {
					-moz-box-sizing: content-box;
					-webkit-box-sizing: content-box;
					box-sizing: content-box;
					position: relative;
					margin: 2.5% 0 2.5% 0;
					padding: 0 10px 0 10px;
					/*border-radius: 10px;*/
					/*border: solid 1px #fff;*/
					/*box-shadow: inset 0 0 0 1px #fff, 0 1px 4px 0 rgba(0, 0, 0, 0.1);*/
					background-color: transparent;
					height: 84px;
					width: 100%;
				}

                #logo {
                    float: left;
                    height: 96%;
                    width: 200px;
					position: absolute;
					left: 1%;
					top: 2%;
                    background: -webkit-linear-gradient(#0f0000,transparent,transparent,#0f0000), url('/images/flagEdit1.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
					/*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0)));*/
                }

				#header h1 {
					position: absolute;
					font-size: 2.4em;
					letter-spacing: -2px;
					line-height: 82px;
					padding-left: 3%;
				}

				#header nav {
					position: absolute;
					right: 40px;
					line-height: 82px;
					text-transform: lowercase;
					font-size: 1.3em;
					letter-spacing: 0;
					padding-right: 100px;
				}

				#header nav a {
					display: inline-block;
					text-decoration: none;
					color: #fff;
					padding: 0 15px 0 15px;
				}

				#header nav a.current-page-item {
					background-image: -moz-linear-gradient(to bottom, #0f0000, maroon, #0f0000);
					background-image: -webkit-linear-gradient(to bottom, #0f0000, maroon, #0f0000);
					background-image: -ms-linear-gradient(to bottom, #0f0000, maroon, #0f0000);
					background-image: linear-gradient(to bottom, #0f0000, maroon, #0f0000);
					background-color: #0f0000;
					/*box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(255, 255, 255, 0.1);*/
				}

				#header nav a:hover {
					cursor: pointer;
					background-image: -moz-linear-gradient(to bottom, #0f0000, #960018, #0f0000);
					background-image: -webkit-linear-gradient(to bottom, #0f0000, #960018, #0f0000);
					background-image: -ms-linear-gradient(to bottom, #0f0000, #960018, #0f0000);
					background-image: linear-gradient(to bottom, #0f0000, #960018, #0f0000);
					background-color: #0f0000;
					box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.05), 0 0 5px 1px rgba(255, 255, 255, 0.05);
				}

                .basket {
                    position: absolute;
                    right: 40px;
                    width: 100px;
                    height: 81px;
                    display: inline-block;
                    color: #fff;
                    background-image: -moz-linear-gradient(to bottom, #0f0000, #00cc00, #00cc00, #0f0000);
                    background-image: -webkit-linear-gradient(to bottom, #0f0000, #00cc00, #00cc00, #0f0000);
                    background-image: -ms-linear-gradient(to bottom, #0f0000, #00cc00, #00cc00, #0f0000);
                    background-image: linear-gradient(to bottom, #0f0000, #00cc00, #00cc00, #0f0000);
                    background-color: #0f0000;
                    /*box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.05), 0 0 5px 1px rgba(255, 255, 255, 0.05);*/
                    text-align: center;
                    vertical-align: middle;
                    padding-top: 5px;
                }

                .basketEmpty {
                    position: absolute;
                    right: 40px;
                    width: 100px;
                    height: 81px;
                    display: inline-block;
                    color: #fff;
                    background-image: -moz-linear-gradient(to bottom, #0f0000, #004d00, #004d00, #0f0000);
                    background-image: -webkit-linear-gradient(to bottom, #0f0000, #004d00, #004d00, #0f0000);
                    background-image: -ms-linear-gradient(to bottom, #0f0000, #004d00, #004d00, #0f0000);
                    background-image: linear-gradient(to bottom, #0f0000, #004d00, #004d00, #0f0000);
                    background-color: #0f0000;
                    /*box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.05), 0 0 5px 1px rgba(255, 255, 255, 0.05);*/
                    text-align: center;
                    vertical-align: middle;
                    padding-top: 25px;
                }

                #header span {
                    cursor: pointer;
                }

                .inBasket {
                    margin-top: 5px;
                    background-color: #0f0000;
                }

                .inBasketText {
                    color: #006600;
                }

                .btn:focus,.btn:active {
                    outline: none !important;
                }

                .buttonAdd {
                    color: #fff;
                    background-image: -moz-linear-gradient(to bottom, #006600, #000);
                    background-image: -webkit-linear-gradient(to bottom, #006600, #000);
                    background-image: -ms-linear-gradient(to bottom, #006600, #000);
                    background-image: linear-gradient(to bottom, #006600, #000);
                    background-color: #000;
                    border-color: #0f0000;
                    height: 32px;
                    padding-top: 1px;
                    outline:0;
                }

                .buttonAdd:hover {
                    color: #fff;
                    background-image: -moz-linear-gradient(to bottom, #00cc00, #000);
                    background-image: -webkit-linear-gradient(to bottom, #00cc00, #000);
                    background-image: -ms-linear-gradient(to bottom, #00cc00, #000);
                    background-image: linear-gradient(to bottom, #00cc00, #000);
                    background-color: #000;
                    border-color: #0f0000;
                    outline:0;
                }

                .buttonAdd:focus {
                    color: #fff;
                }

				/* Banner */
				#banner-wrapper {
					background: #0f0000;
                    color: maroon;
				}

				#banner {
					-moz-box-sizing: content-box;
					-webkit-box-sizing: content-box;
					box-sizing: content-box;
					position: relative;
					height: 265px;
                    /*border: solid 1px #fff;*/
					border-radius: 10px;
                    box-shadow: inset 0 0 0 1px #fff, 0 1px 4px 0 rgba(0, 0, 0, 0.1);
					padding: 20px;
					background: #0f0000 url('/images/alcohol.jpg') no-repeat 5px 5px;
					background-size: 100% 300px;
				}

				#banner h2 {
					position: absolute;
					z-index: 1;
					top: 100px;
					left: 37%;
					font-size: 3.3em;
					color: #fff;
					background-color: #000;
					text-align: center;
					letter-spacing: -2px;
				}

				#banner span {
					display: block;
					position: absolute;
					z-index: 1;
					bottom: 105px;
					left: 40%;
					font-size: 1.6em;
					color: #fff;
					background-color: #000;
					text-align: center;
					letter-spacing: -1px;
					text-transform: lowercase;
					opacity: 0.8;
				}

				/* Main */
				#main {
					background: #0f0000;
					padding: 1em 0;
				}

                .products {
                    display: inline-table;
                    float: left;
                    height: 180px;
                }

				#quantity {
					background-color: transparent;
					border-radius: 5%;
					border-color: #006600;
					color: #fff;
				}

				#quantity:focus {
					outline: none;
				}

				#searchField {
					background-color: transparent;
					border-radius: 5%;
					border-color: maroon;
					color: maroon;
					width: 200px;
				}
				#searchField:focus {
					outline: none !important;
				}

				#searchButton {
					border-radius: 5%;
					border-color: maroon;
					background-color: maroon;
					width: 200px;
				}
				#searchButton:focus {
					outline: none !important;
				}

				.moneyFilter {
					border-radius: 5%;
					border-color: maroon;
					background-color: maroon;
					width: 100px;
					padding: 5px;
				}
				.moneyFilter:focus {
					outline: none;
				}

				/* Footer */
				#footer-wrapper {
					padding: 2em 0;
                    text-align: center;
				}

                #footer-wrapper h3 {
                    color: #003200;
                }

                #footer-wrapper a {
                    text-decoration: none;
                    font-weight: 500;
                    color: #000;
                }

                #footer-wrapper a:hover {
                    text-decoration: none;
                    color: #003200;
                }

				sup {
                    font-size: 14px;
					top: -0.3em;
				}

                .socialSection section input[type=email] {
                    width: 100%;
                }
                .socialSection section input[type=submit] {
                    width: 50%;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #003200;
                    border-color: #003200;
                }

                .social {
                    display: block;
                    text-align: center;
                }

                .socialButtons {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    margin: 2px;
                }
                .socialButtons:hover {
                    height: 54px;
                    width: 54px;
                    margin: 0;
                }

                #facebook {
                    background: #e3e9dc url('/images/facebook_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #facebook:hover {
                    background: #e3e9dc url('/images/facebook_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

                #vk {
                    background: #e3e9dc url('/images/vk_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #vk:hover {
                    background: #e3e9dc url('/images/vk_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

                #youtube {
                    background: #e3e9dc url('/images/youtube_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #youtube:hover {
                    background: #e3e9dc url('/images/youtube_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

                #twitter {
                    background: #e3e9dc url('/images/twitter_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #twitter:hover {
                    background: #e3e9dc url('/images/twitter_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

                #picasso {
                    background: #e3e9dc url('/images/picasso_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #picasso:hover {
                    background: #e3e9dc url('/images/picasso_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

                #googlePlus {
                    background: #e3e9dc url('/images/google_plus_icon_black.png') no-repeat;
                    background-size: 100%;
                }
                #googlePlus:hover {
                    background: #e3e9dc url('/images/google_plus_icon_black2.png') no-repeat;
                    background-size: 100%;
                }

				/* Copyright */
				#copyright {
					text-align: center;
					color: #A6A88F;
					border-top: solid 1px #ced0b7;
					padding: 3em 0 0 0;
					margin: 1% 0 0 0;
				}

				#copyright a {
					color: #A6A88F;
				}

			}

/* Tablet Only */
@media screen and (min-width: 737px) and (max-width: 1200px) {

				/* Basic */
				body {
					min-width: 1000px;
				}

				/* Reusable */
				ul.small-image-list img {
					width: 50px;
				}

				ul.big-image-list img {
					width: 75px;
				}

				/* Header */
				#header {
					height: 82px;
                    padding-left: 2%;
                    box-shadow: none;
				}

				#header h1 {
					font-size: 2em;
                    line-height: 80px;
				}

				#header nav {
                    padding-left: 10%;
					font-size: 1em;
                    line-height: 80px;
				}

				#header nav a {
					padding: 0 5px 0 5px;
				}

				/* Banner */
				#banner {
					height: 220px;
					background-size: 100% 220px;
				}

				#banner h2 {
					font-size: 3em;
					top: 80px;
				}

				#banner span {
					font-size: 1.4em;
					bottom: 85px;
				}

				/* Footer */
				#footer-wrapper {
					padding: 5% 0 5% 0;
				}

				/* Copyright */
				#copyright {
					padding: 3em 0 0 0;
					margin: 5% 0 0 0;
				}

			}

/* Mobile Only */
@media screen and (max-width: 736px) {

				/* Basic */
				html, body {
					overflow-x: hidden;
                    background-color: #0f0000;
				}

				body {
					font-size: 13pt;
				}

				h2 {
					font-size: 1.4em;
				}

				h3 {
					font-size: 1.2em;
				}

				h4 {
					font-size: 1em;
				}

			/* Reusable */
			ul.small-image-list img {
				width: 75px;
			}

			ul.big-image-list img {
				width: 75px;
			}

			ul.link-list {
				margin: 0 0 2em 0;
			}

			section, article {
				padding: 40px 20px 40px 20px;
			}

			#main section, #main article {
				background: #0f0000;
			}

			article.blog-post .comments {
				display: block;
				position: relative;
				top: -0.5em;
				margin: 0 0 0.5em 0;
			}

			.button {
				font-size: 1em;
			}

			.blog-post-image {
				width: 100%;
			}

			/* Header */
			#header-wrapper {
				background-color: #0f0000;
			}

            #header {
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
                position: relative;
                margin: 2.5% 0 2.5% 0;
                padding: 0;
                border: none;
                box-shadow: none;
            }

            #header h1 {
                display: none;
            }

            #header nav {
                position: relative;
                left: 10px;
                line-height: 3px;
                text-transform: lowercase;
                font-size: 1.3em;
                width: 93%;
            }

            #header nav a {
                display: inline;
                text-decoration: none;
                color: #fff;
                padding: 20px 5px 20px 5px;
                line-height: 50px;
                font-size: 20px;
                letter-spacing: 0;
            }

            #header nav a.current-page-item {
                background-image: -moz-linear-gradient(to bottom, maroon, #000);
                background-image: -webkit-linear-gradient(to bottom, maroon, #000);
                background-image: -ms-linear-gradient(to bottom, maroon, #000);
                background-image: linear-gradient(to bottom, maroon, #000);
                background-color: #000;
                box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(255, 255, 255, 0.1);
            }

            #header nav a:hover {
                cursor: pointer;
                background-image: -moz-linear-gradient(to bottom, #960018, #000);
                background-image: -webkit-linear-gradient(to bottom, #960018, #000);
                background-image: -ms-linear-gradient(to bottom, #960018, #000);
                background-image: linear-gradient(to bottom, #960018, #000);
                background-color: #000;
                box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.05), 0 0 5px 1px rgba(255, 255, 255, 0.05);
            }


                /* Banner */
			#banner-wrapper {
				background: #0f0000;
			}

			#banner {
				position: relative;
				width: 100%;
				height: 240px;
				background: #000 url('/images/alcohol.jpg') no-repeat;
				background-size: 100% 100%;
			}

			#banner h2 {
				position: absolute;
				z-index: 1;
				width: 100%;
				bottom: 80px;
				left: 0;
				font-size: 2em;
				color: #fff;
				text-align: center;
				letter-spacing: -2px;
			}

			#banner span {
				display: block;
				position: absolute;
				z-index: 1;
				width: 100%;
				top: 135px;
				left: 0;
				font-size: 1em;
				color: #fff;
				text-align: center;
				letter-spacing: -1px;
				text-transform: lowercase;
				opacity: 0.8;
			}

			/* Main */
			#main {
                background-color: #0f0000;
			}

			/* Footer */
			#footer-wrapper section, #footer-wrapper article {
				border-bottom: solid 1px #ced0b7;
			}

			/* Copyright */
			#copyright {
				text-align: center;
				color: #A6A88F;
				padding: 40px;
				font-size: 0.8em;
				line-height: 1.5em;
			}

			#copyright a {
				color: #A6A88F;
			}

		}