
<div ng-show="attrs.id">
    <div ng-hide="inCart()">
        <form name="addProduct">
            <span class="center-block text-center">
                <input type="number" name="quantity"  min="{{ quantityMin }}" max="{{ quantityMax }}"
                       id="quantity" step="{{ quantityMin }}" ng-model="q" required>
                <input type="submit" class="btn buttonAdd" data-toggle="modal" data-target="#submit_request"
                   ng-disabled="addProduct.quantity.$invalid ||
                                !q"
                   ng-click="ngCart.addItem(id, name, price, q, quantityMin, quantityMax, discount, data)"
                   value="Купити" ng-transclude>
            </span>
        </form>
    </div>
    <div class="text-center" ng-show="inCart()">
        <span>Цей товар у кошику </span><br>
        <a ng-click="ngCart.removeItemById(id)"> Видалити з кошика</a>
    </div>
</div>

<!--MODAL WINDOW OPENED WITH BUTTON "Купити"-->
<div class="modal fade" id="submit_request" role="dialog">
    <div class="modal-dialog">
        <!----------------- MODAL WINDOW CONTENT---------------->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Кошик
                </h4>
            </div>
            <div>
                <ngcart-cart></ngcart-cart>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="modalCancel btn-sm"
                        data-dismiss="modal"
                        ng-click="">
                    Продовжити покупки
                </button>
                <input  type="submit"
                        class="modalBasket btn-sm"
                        value="Оформити замовлення"
                        ng-disabled=""
                        data-dismiss="modal"
                        ng-click="basket()">
            </div>

        </div>
    </div>
</div><!--END OF THE MODAL WINDOW OPENED WITH BUTTON "JOIN"-->