<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <form name="addProduct">
        <span>
            <input type="number" name="quantity"  min="{{ quantity }}" max="{{ quantityMax }}"
                   id="quantity" ng-model="q">
        </span>
        <input type="submit" class="btn buttonAdd"
           ng-disabled="addProduct.quantity.$invalid"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           value="Купити"
           ng-transclude>
    </form>
    <div  ng-show="inCart()" class="inBasket">
        <span class="inBasketText">Цей товар у кошику </span><a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;"> Видалити з кошика</a>
    </div>
</div>